body {
	background-color: #281B1D;
	color: white;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 22px;
}
a {
	color: #FFE3E3;
}
.navigation-header {
	display: flex;
	justify-content: space-evenly;
	background-color: #3B0009;
	padding: 2rem 20% 2rem 20%;
}
.navigation-header a {
	color: white;
	text-decoration: none;
	font-size: 2rem;
}
.navigation-header a:hover {
	text-decoration: underline;
}
.navigation-header a#current-page {
	text-decoration: underline;
	color: #FFE3E3;
}
h1 {
	text-align: center;
	font-size: 10rem;
	line-height: 3rem;
	color: #FFE3E3;
}
h2 {
	font-size: 4rem;
	line-height: 3rem;
	color: #FFE3E3;
}
h3 {
	font-size: 2rem;
	line-height: 1.5rem;
	color: #FFE3E3;
}
div.central-content {
	margin: 0 20% 0 20%;
}
.central-column-container {
	display: flex;
	gap: 3%;
}
.central-column-container .left-column {
	width: 60%;
}
.central-column-container .right-column {
	width: 40%;
}
.central-column-container .right-column h2 {
	text-align: center;
	font-size: 3rem;
}
.central-column-container .right-column img {
	width: 100%;
}
#social-icon-links {
	display: flex;
	justify-content: space-evenly;
	margin: 0 20% 0 20%;
}
#social-icon-links img {
	width: 4rem;
	height: 4rem;
	margin-top: 2rem;
}
#selfie {
	border-radius: 7%;
}
ul {
	margin: 0;
}
