body {
	background-color: #281B1D;
	color: white;
	font-family: "Akatab", sans-serif;
	margin: 0;
}
@media (min-width: 1000px) {
	body {
		font-size: 16px;
		line-height: 22px;
	}
}
@media (max-width: 1000px) {
	@media (min-width: 600px) {
		body {
			font-size: 14px;
			line-height: 19px;
		}
	}
}
@media (max-width: 600px) {
	body {
		font-size: 12px;
		line-height: 16px;
	}
}
.sub-section-buffer {
	margin-top: -100px;
	padding-top: 100px;
}
#bio-page-container {
	background-image: url("images/banners/bio.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
#dev-page-container {
	background-image: url("images/banners/dev.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
#art-page-container {
	background-image: url("images/banners/art.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
a {
	color: #FFE3E3;
}
a.source-link {
	margin-left: 1rem;
	margin-top: -0.5rem;
	line-height: 1.5rem;
	float: right;
}
.navigation-header {
	display: flex;
	justify-content: space-evenly;
	background-color: #3B0009;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 2;
	max-height: 20px;
}
@media (min-width: 1000px) {
	.navigation-header {
		padding: 2rem 20% 2rem 20%;
	}
	.navigation-header a {
		font-size: 2rem;
	}
}
@media (max-width: 1000px) {
	.navigation-header {
		padding: 3vw 10vw 3vw 10vw;
		gap: 10%;
	}
	@media (min-width: 500px) {
		.navigation-header a {
			font-size: 4vw;
		}
	}
}
@media (max-width: 500px) {
	.navigation-header a {
		font-size: 1rem;
	}
}
.navigation-header a {
	color: white;
	text-decoration: none;
}
.navigation-header a:hover {
	text-decoration: underline;
}
.navigation-header a#current-page {
	text-decoration: underline;
	color: #FFE3E3;
}
@keyframes expand-dev {
	0% {
		height: 0px;
	}
	100% {
		height: 160px;
	}
}
@keyframes expand-art {
	0% {
		height: 0px;
	}
	100% {
		height: 200px;
	}
}
.bio-nav {
	width: 50px;
	text-align: center;
}
.expandable-page-nav :nth-child(2) {
	display: none;
	font-size: 1.2rem;
	margin-top: 10px;
}
.expandable-page-nav :nth-child(3) {
	display: none;
	font-size: 1.2rem;
}
.expandable-page-nav :nth-child(4) {
	display: none;
	font-size: 1.2rem;
}
.expandable-page-nav :nth-child(5) {
	display: none;
	font-size: 1.2rem;
}
.expandable-page-nav:hover :nth-child(2) {
	display: inline;
	white-space: nowrap;
	overflow-y: hidden;
}
.expandable-page-nav:hover :nth-child(3) {
	display: inline;
	white-space: nowrap;
	overflow-y: hidden;
}
.expandable-page-nav:hover :nth-child(4) {
	display: inline;
	white-space: nowrap;
	overflow-y: hidden;
}
.expandable-page-nav:hover :nth-child(5) {
	display: inline;
	white-space: nowrap;
	overflow-y: hidden;
}
.expandable-page-nav {
	width: 50px;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	padding-left: 100px;
	margin-left: -100px;
	padding-top: 10px;
	margin-top: -10px;
	padding-right: 100px;
	margin-right: -100px;
	border-radius: 10px;
}
.expandable-page-nav:hover {
	animation-timing-function: ease;
	background-color: #4B1019;
}
.expandable-page-nav.dev-nav:hover {
	animation-name: expand-dev;
}
.expandable-page-nav.art-nav:hover {
	animation-name: expand-art;
}
@media (min-width: 1060px) {
	h1 {
		font-size: 10rem;
		padding-top: 7rem;
	}
}
@media (max-width: 1060px) {
	h1 {
		font-size: 15vw;
		padding-top: 10vw;
	}
}
h1 {
	text-align: center;
	line-height: 3rem;
	color: white;
	font-family: "Abril Fatface", serif;
	margin-top: 0rem;
}
@media (min-width: 630px) {
	h2 {
		font-size: 4rem;
		line-height: 3rem;
	}
}
@media (max-width: 630px) {
	h2 {
		font-size: 10vw;
		line-height: 8vw;
	}
}
h2 {
	margin-top: 1rem;
	color: #FFE3E3;
	font-family: "Abril Fatface", serif;
}
h3 {
	font-size: 2rem;
	line-height: 1rem;
	margin-top: 0;
	color: #FFE3E3;
	font-family: "Abril Fatface", serif;
}
h3.commercial-header {
	font-family: "Akatab", sans-serif;
	line-height: 2rem;
	margin-top: 1rem;
	font-weight: 900;
}
h3.free-header {
	font-family: "Akatab", sans-serif;
	line-height: 1rem;
	margin-top: 1rem;
	font-weight: 900;
}
@media (min-width: 1400px) {
	h3.free-header {
		font-size: 1.5rem;
	}
	h3.commercial-header {
		font-size: 2.5rem;
	}
}
@media (max-width: 1400px) {
	h3.free-header {
		font-size: 1rem;
	}
	@media (min-width: 400px) {
		h3.commercial-header {
			font-size: 2rem;
		}
	}
}
@media (max-width: 400px) {
	@media (min-width: 250px) {
		h3.commercial-header {
			font-size: 6vw;
		}
	}
}
@media (max-width: 250px) {
	h3.commercial-header {
		font-size: 1rem;
		line-height: 1rem;
	}
}
h2.center {
	text-align: center;
}
.top-buffer-large {
	margin-top: 10rem;
}
.top-buffer {
	margin-top: 5rem;
}
.top-buffer-small {
	margin-top: 1rem;
}
.top-buffer-small-medium {
	margin-top: 2rem;
}
@media (max-width: 1000px) {
	div.central-content {
		margin: 0 1rem 0 1rem;
	}
}
@media (min-width: 1000px) {
	div.central-content {
		margin: 0 20% 0 20%;
	}
}
.central-column-container {
	display: flex;
	gap: 3%;
}
#bio-page-container .central-column-container .left-column {
	width: 60%;
}
#bio-page-container .central-column-container .right-column {
	width: 40%;
}
#dev-page-container .central-column-container .left-column {
	width: 50%;
}
#dev-page-container .central-column-container .right-column {
	width: 50%;
}
#art-page-container #graphic-design .central-column-container .left-column {
	width: 60%;
}
#art-page-container #graphic-design .central-column-container .right-column {
	width: 40%;
}
@media (max-width: 420px) {
	#education .central-column-container {
		flex-direction: column;
		gap: 1rem;
	}
	#education  .central-column-container .left-column {
		width: 100%;
	}
	#education .central-column-container .right-column {
		width: 100%;
	}
}
.commercial-game-video, .large-video {
	width: 100%;
}
@media (min-width: 1400px) {
	.central-column-container .right-column h2 {
		font-size: 3rem;
	}
}
@media (max-width: 1400px) {
	@media (min-width: 1000px) {
		.central-column-container .right-column h2 {
			font-size: 3.5vw;
		}
	}
	@media (max-width: 1000px) {
		.central-column-container .right-column h2 {
			font-size: 5vw;
		}
	}
}
.central-column-container .right-column h2 {
	text-align: center;
	margin-bottom: 1rem;
}
.central-column-container .right-column img {
	width: 100%;
}
#social-icon-links {
	display: flex;
	justify-content: center;
	margin: 0 20% 0 20%;
	gap: 1.5vw;
}
#social-icon-links img {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
@media (min-width: 600px) {
	#social-icon-links img {
		width: 4rem;
		height: 4rem;
	}
}
@media (max-width: 600px) {
	#social-icon-links img {
		width: 10vw;
		height: 10vw;
	}
	#selfie {
		margin-top: 7rem;
	}
}
#selfie {
	border-radius: 7%;
}
ul {
	margin: 0;
}
#career-goals {
	margin-top: 2rem;
}
div.free-game-content {
	display: flex;
	gap: 1rem;
	margin-top: 3rem;
}
@media (max-width: 1400px) {
	video.free-game-video {
		width: 30vw;
	}
}
@media (max-width: 1000px) {
	@media (min-width: 800px) {
		video.free-game-video {
			width: 40vw;
		}
	}
}
@media (max-width: 700px) {
	@media (min-width: 400px) {
		video.free-game-video {
			width: 45vw;
		}
	}
}
@media (max-width: 400px) {
	video.free-game-video {
		width: 100%;
	}
	div.free-game-content {
		flex-direction: column;
	}
	div.free-game-content.column-reverse-flex {
		flex-direction: column-reverse;
	}
}
div#other-projects {
	display: inline-grid;
	grid-auto-columns: 50%;
	gap: 1rem;
	margin-top: -200px;
	padding-top: 200px;
}
div#other-projects iframe,img {
	filter: drop-shadow(0.5rem 0.5rem 1rem black);
}
#free-web-games,#graphic-design {
	margin-top: -20px;
	padding-top: 20px;
}
#animated-videos,#commercial-games {
	margin-top: -68px;
	padding-top: 68px;
}
#graphic-design img {
	filter: none;
}
div#other-projects iframe,#ui-project-info {
	grid-column: 1;
}
div#other-projects img,#portfolio-project-info {
	grid-column: 2;
}
#other-projects iframe,img {
	width: 100%;
	display: inline;
}
#other-projects iframe {
	width: 100%;
	height: 100%;
}
p.game-description {
	margin-top: -0.5rem;
}
@media (min-width: 600px) {
	div.centered-art-info {
		width: 60%;
	}
}
@media (max-width: 600px) {
	div.centered-art-info {
		width: 80%;
	}
}
div.centered-art-info {
	text-align: center;
	margin: auto;
}
div.environment-image-column {
	width: 70%;
}
div.narrow-info-column {
	width: 30%;
	text-align: center;
	margin: auto;
}
div.narrow-info-column-alt {
	width: 30%;
}
div.sprite-animation-container {
	aspect-ratio: 4/1;
	display: flex;
	justify-content: space-between;
	column-gap: 1rem;
}
@media (min-width: 1000px) {
	div.sprite-animation-container {
		width: 120%;
		margin-left: -10%;
	}
}
@media (max-width: 1000px) {
	div.sprite-animation-container {
		width: 100%;
	}
}
#turntable-posing-and-wip {
	margin: 2rem auto auto auto;
}
#turntable-posing-and-wip img {
	width: 42%;
}
#turntable-posing-and-wip video {
	width: 56%;
	float: right;
}
#dr-shelley-sprite-wip {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;
}
#dr-shelley-sprite-wip > div {
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: space-between;
}
#dr-shelley-sprite-wip > img {
	width: 50%;
}
div.environment-image-container {
	width: 200%;
}
#footer {
	text-align: center;
	margin-top: 2rem;
	padding: 1rem;
	background-color: #111111;
}
