body {
	background-color: #281B1D;
	color: white;
	font-family: "Akatab", sans-serif;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
}
#bio-page-container {
	background-image: url("images/banners/bio.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
#dev-page-container {
	background-image: url("images/banners/dev.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
#art-page-container {
	background-image: url("images/banners/art.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
a {
	color: #FFE3E3;
}
a.source-link {
	margin-left: 1rem;
	margin-top: -0.5rem;
	float: right;
}
.navigation-header {
	display: flex;
	justify-content: space-evenly;
	background-color: #3B0009;
	padding: 2rem 20% 2rem 20%;
}
.navigation-header a {
	color: white;
	text-decoration: none;
	font-size: 2rem;
}
.navigation-header a:hover {
	text-decoration: underline;
}
.navigation-header a#current-page {
	text-decoration: underline;
	color: #FFE3E3;
}
h1 {
	text-align: center;
	font-size: 10rem;
	line-height: 3rem;
	color: #FFE3E3;
	font-family: "Abril Fatface", serif;
	margin-top: 0rem;
	padding-top: 7rem;
}
h2 {
	font-size: 4rem;
	line-height: 3rem;
	margin-top: 1rem;
	color: #FFE3E3;
	font-family: "Abril Fatface", serif;
}
h3 {
	font-size: 2rem;
	line-height: 1rem;
	margin-top: 0;
	color: #FFE3E3;
	font-family: "Abril Fatface", serif;
}
h3.commercial-header {
	font-family: "Akatab", sans-serif;
	font-size: 2.5rem;
	line-height: 2rem;
	margin-top: 1rem;
	font-weight: 900;
}
h3.free-header {
	font-family: "Akatab", sans-serif;
	font-size: 1.5rem;
	line-height: 1rem;
	margin-top: 1rem;
	font-weight: 900;
}
h2.center {
	text-align: center;
}
.top-buffer-large {
	margin-top: 10rem;
}
.top-buffer {
	margin-top: 5rem;
}
div.central-content {
	margin: 0 20% 0 20%;
}
.central-column-container {
	display: flex;
	gap: 3%;
}
#bio-page-container .central-column-container .left-column {
	width: 60%;
}
#bio-page-container .central-column-container .right-column {
	width: 40%;
}
#dev-page-container .central-column-container .left-column {
	width: 50%;
}
#dev-page-container .central-column-container .right-column {
	width: 50%;
}
.commercial-game-video, .large-video {
	width: 100%;
}
.central-column-container .right-column h2 {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 1rem;
}
.central-column-container .right-column img {
	width: 100%;
}
#social-icon-links {
	display: flex;
	justify-content: space-evenly;
	margin: 0 20% 0 20%;
	gap: 1rem;
}
#social-icon-links img {
	width: 4rem;
	height: 4rem;
	margin-top: 2rem;
}
#selfie {
	border-radius: 7%;
}
ul {
	margin: 0;
}
#career-goals {
	margin-top: 2rem;
}
div.free-game-content {
	display: flex;
	gap: 1rem;
	margin-top: 3rem;
}
div#other-projects {
	display: inline-grid;
	grid-auto-columns: 50%;
	gap: 1rem;
}
div#other-projects iframe,img {
	filter: drop-shadow(0.5rem 0.5rem 1rem black);
}
div#other-projects iframe,#ui-project-info {
	grid-column: 1;
}
div#other-projects img,#portfolio-project-info {
	grid-column: 2;
}
#other-projects iframe,img {
	width: 100%;
	display: inline;
}
#other-projects iframe {
	width: 100%;
	height: 100%;
}
p.game-description {
	margin-top: -0.5rem;
}
div.centered-art-info {
	width: 60%;
	text-align: center;
	margin: auto;
}
div.environment-image-column {
	width: 70%;
}
div.environment-info-column {
	width: 30%;
	text-align: center;
	margin: auto;
}
div.environment-info-column-alt {
	width: 30%;
}
div.sprite-animation-container {
	width: 120%;
	aspect-ratio: 4/1;
	margin-left: -10%;
	display: flex;
	justify-content: space-between;
	column-gap: 1rem;
}
#turntable-posing-and-wip {
	margin: 2rem auto auto auto;
}
#turntable-posing-and-wip img {
	width: 42%;
}
#turntable-posing-and-wip video {
	width: 56%;
	float: right;
}
#dr-shelley-sprite-wip {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;
}
#dr-shelley-sprite-wip > div {
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: space-between;
}
#dr-shelley-sprite-wip > img {
	width: 50%;
}
div.environment-image-container {
	width: 200%;
}
#footer {
	text-align: center;
	margin-top: 2rem;
	padding: 1rem;
	background-color: #111111;
}
